<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<a href="/posts/save" role="button">글 등록</a>
<table>
    <thead>
    <tr>
        <th>게시글 번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>최종 수정일</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="post : ${posts}">
        <td th:text="${post.id}"></td>
        <td th:text="${post.title}"><a href="/posts/update/${post.id}"></a></td>
        <td th:text="${post.author}"></td>
        <td th:text="${post.modifiedDate}"></td>
    </tr>
    </tbody>
</table>
<th:block layout:fragment="script"></th:block>
<script th:src="@{/js/app/index.js}"></script>
</body>
</html>