<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>게시글 수정</h1>

<form th:action="@{/posts/update/{identity} (identity=${prev.id})}"  th:object="${form}" method="post">
    <div class="mb-3">
        <label for="title" class="form-label">제목</label>
        <input type="text" th:field="*{title}" class="form-control" id="title" th:placeholder="${prev.title}">
    </div>
    <div class="mb-3">
        <label for="content" class="form-label">내용</label>
        <input type="text" th:field="*{content}" class="form-control" id="content" th:placeholder="${prev.content}">
    </div>
    <div class="mb-3">
        <label for="author" class="form-label">작성자</label>
        <textarea type="text" class="form-control" id="author" th:placeholder="${prev.author}" readonly></textarea>
    </div>
    <div class="col-12">
        <a href="/" role="button" class="btn btn-secondary">수정 취소</a>
        <button type="submit"  class="btn btn-primary">수정 완료</button>
    </div>
</form>

<script th:src="@{/js/app/index.js}"></script>
<th:block layout:fragment="script"></th:block>
</body>
</html>