<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>게시글 수정</h1>
<div>
    <div>
        <form>
            <div>
                <label for="id">글 번호</label>
                <input type="text" id="id" value="${post.id}" readonly>
            </div>
            <div>
                <label for="title">제목</label>
                <input type="text" id="title" value="post.title">
            </div>
            <div>
                <label for="author"> 작성자 </label>
                <input type="text" id="author" value="post.author" readonly>
            </div>
            <div>
                <label for="content"> 내용 </label>
                <textarea id="content" value="post.content"></textarea>
            </div>
        </form>
        <a href="/" role="button" >취소</a>
        <button type="button" id="btn-update">수정 완료</button>
        <button type="button" id="btn-delete">삭제</button>
    </div>
</div>
<script th:src="@{/js/app/index.js}"></script>
<th:block layout:fragment="script"></th:block>
</body>
</html>